@font-face {
    font-family: 'Alwyn Normal';
    src: url('../fonts/alwyn-normal.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../fonts/alwyn-normal.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../fonts/alwyn-normal.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../fonts/alwyn-normal.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../fonts/alwyn-normal.ttf') format('svg');               /* Legacy iOS */
}

body {
  font-family: "Alwyn Normal";	
  font-size: 20px;
  color: #0757A8;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
  letter-spacing: 0px;
  line-height: 20px;
}

